# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.NeoNinja.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unreal Projects\NeoNinja\.idea\.idea.NeoNinja\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
